.imagePreviewSingle,
.imagePreviewMultiple {
    width: 150px;
    /* height: 100px; */
    aspect-ratio: 4/3;
    display: block;
    object-fit: cover;
    border: 2px solid #ddd;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.preview-image-wrapper {
    position: relative;
    display: inline-block;
    margin: 0 !important;
}
.page-link:focus {
    box-shadow: none;
}

.galleryItemImg{
    border: 2px solid #dee2e6 !important;
    aspect-ratio: 4/3 !important;
    padding: 0 !important;
    overflow: hidden !important;
    object-fit: cover !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1) !important;
}
.gallery-item{
    padding: 10px !important;
}